.cart-item {
  display: flex;
  gap: 15px;
}

.btn-car{
   background-color: red;
   color: white;
   border:none;
   border-radius: 5px;
   padding: 5px;
   cursor: pointer;
}

/* Quantity box container */
.qty-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #d5d9d9;
  border-radius: 8px;
  overflow: hidden;
  width: 110px;
  height: 34px;
  background-color:#ff9900;
  transition: 0.2s ease;
}

/* Buttons (- , +) */
.qty-btn {
  width: 33%;
  height: 100%;
  border: none;
  background-color: #ff9900;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.qty-btn:hover {
  background-color:#ff9900;
}

/* Center quantity number */
.qty-number {
  width: 34%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-left: 1px solid #d5d9d9;
  border-right: 1px solid #d5d9d9;
  font-weight: bold;
  font-size: 16px;
}

/* -----------------------------------------------------
   RESPONSIVE DESIGN
----------------------------------------------------- */

/* Tablets */
@media (max-width: 768px) {
  .qty-box {
    width: 90px;
    height: 32px;
  }

  .qty-btn {
    font-size: 16px;
  }

  .qty-number {
    font-size: 14px;
  }
}

/* Mobile */
@media (max-width: 480px) {
  .qty-box {
    width: 80px;
    height: 30px;
  }

  .qty-btn {
    font-size: 14px;
  }

  .qty-number {
    font-size: 13px;
  }

}

@media (max-width: 480px) {
  .cart-item {
    flex-direction: column;
    align-items: center;
  }
}
