.cloth-section {
  background: #fff;
  padding: 20px;
  margin: 20px auto;
  border-radius: 10px;
  width: 78%;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.cloth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.cloth-header h2 {
  font-size: 20px;
  font-weight: 600;
}

.cloth-header a {
  color: #0073e6;
  font-size: 14px;
  cursor: pointer;
}

.cloth-items {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding-bottom: 10px;
}

.cloth-items::-webkit-scrollbar {
  height: 6px;
}

.cloth-items::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 5px;
}

.cloth-card {
  min-width: 130px;
  max-width: 130px;
  text-align: center;
}

.cloth-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 8px;
}
.cloth-card img:hover{
  
  transform: scale(1.07);
  transition: 0.2s;

}

.cloth-card p {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 500;
}
