.product-card {
  width: 280px;
  border: 1px solid #e2e2e2;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  /* margin: 20px; */
  padding:15px;
  /* background: #fff; */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
}
.product-image img {
  width: 100%;
  height: auto;
  display: block;
      border-radius: 10px;
}

.product-info {
  padding: 15px;
  text-align: left;
  cursor: pointer;
}

.product-title {
  font-size: 16px;
  font-weight: 600;    
  color: #333;
  margin-bottom: 8px;
}

.product-rating {
  font-size: 14px;
  color: #777;
  margin-bottom: 6px;
}

.product-price {
  font-size: 18px;
  color: #e63946;
  font-weight: bold;
  margin-bottom: 8px;
}

.product-offer {
  font-size: 13px;
  color: #2a9d8f;
  margin-bottom: 8px;
}

.product-delivery {
  font-size: 13px;
  color: #6c757d;
  margin-bottom: 10px;
}

.add-to-cart-btn {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.add-to-cart-btn:hover {
  background-color: #e68a00;
}

/* product-color */

.product-color{
  display: flex;
  justify-content:space-between;
  height:25px;
  width: 100px;
  margin-top: -38px;
  margin-left: 100px;
}
.product-color div{
   width: 30px;
   border: 2px solid black;
   border-radius: 50px;
   margin: 3px;
}
/* ========================================= */
/* Desktop: keep 3 or 4 cards */
.products-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

/* Tablet */
@media (max-width: 768px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */
@media (max-width: 480px) {
  .products-container {
    grid-template-columns: 1fr;
  }
}
