body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #ecf4e8; /* soft background */
}

.content {
  padding: 40px;
  min-height: calc(100vh - 100px);
}

h1, h2, h3 {
  color: #2b2b2b;
}
